.divStyle {
    margin: 10% 40% 0;
    border: 2px solid blue;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 50px;
    text-align: center;
}

.btnStyle {
    font-size: 15px;
    margin: 1rem;
    padding: 0.5rem 1rem;
}